node_modules
*.log*
.nuxt
.nitro
.cache
.output

# Environment files
.env
.env.*

# build files
dist
.DS_Store

# Other files
apollo.config.cjs

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
