@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import 'tailwindcss';
@plugin 'tailwindcss-primeui';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  html {
    @apply text-black;
  }

  :root {
    --primary-50: 236 253 245;
    --primary-100: 209 250 229;
    --primary-200: 167 243 208;
    --primary-300: 110 231 183;
    --primary-400: 52 211 153;
    --primary-500: 16 185 129;
    --primary-600: 5 150 105;
    --primary-700: 4 120 87;
    --primary-800: 6 95 70;
    --primary-900: 4 78 56;
    --primary-950: 2 44 34;
    --surface-0: 255 255 255;
    --surface-50: 249 250 251;
    --surface-100: 243 244 246;
    --surface-200: 229 231 235;
    --surface-300: 209 213 219;
    --surface-400: 156 163 175;
    --surface-500: 107 114 128;
    --surface-600: 75 85 99;
    --surface-700: 55 65 81;
    --surface-800: 31 41 55;
    --surface-900: 17 24 39;
    --surface-950: 8 8 8;
  }

  h6 {
    @apply text-lg print:text-base;
  }

  h5 {
    @apply text-xl print:text-lg;
  }

  h4 {
    @apply text-2xl print:text-xl;
  }

  h3 {
    @apply text-3xl print:text-2xl;
  }

  h2 {
    @apply text-4xl print:text-3xl;
  }

  h1 {
    @apply text-5xl print:text-4xl;
  }

  p {
    @apply py-2 print:text-sm;
  }

  div {
    @apply print:text-sm;
  }

  .btn {
    @apply text-white rounded-lg py-2 w-40 m-2 text-center align-middle hover:ring-2 disabled:bg-gray-400 disabled:hover:ring-0 disabled:hover:bg-gray-400 disabled:text-gray-300;
  }

  .btn-blue {
    @apply bg-sky-700 hover:bg-sky-600 hover:ring-sky-500 active:bg-sky-500 print:hidden;
  }
  .btn-green {
    @apply bg-green-700 hover:bg-green-500 hover:ring-green-400 active:bg-green-400 print:hidden;
  }

  .btn-red {
    @apply bg-rose-800 hover:bg-red-700 hover:ring-rose-400 active:bg-red-600 print:hidden;
  }

  .baseInput,
  .baseSelect,
  .baseTextArea {
    @apply p-2 bg-white rounded-lg w-full border-1 border-slate-400 shadow-md focus:border-sky-500 focus:ring-sky-500 print:text-sm;
  }

  .baseCheckbox,
  .baseRadio {
    @apply ml-2 border-slate-400 text-sky-600 focus:ring-sky-500 shadow-md rounded-sm;
  }

  .baseCheckbox {
    @apply rounded-sm;
  }

  .off {
    @apply disabled:bg-slate-200 disabled:text-slate-500 disabled:border-slate-400
    disabled:shadow-md disabled:focus:ring-0 disabled:checked:bg-slate-200 disabled:checked:border-slate-400;
  }

  .baseLabel {
    @apply font-bold text-gray-500 text-sm leading-3 print:text-xs;
  }

  .errorMessage {
    @apply border-none h-5 text-xs;
  }

  .section-min-height {
    min-height: calc(100vh - 88px - 204px);
  }

  .toggle-btn {
    @apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45 [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div]:bg-transparent [&>div]:rotate-[720deg];
  }
}

input[type='number']::-webkit-inner-spin-button {
  color: black;
}
